<tr>
  <td><%= shopping_cart_item.item.name %></td>
  <td><%= number_to_currency(shopping_cart_item.item.price)%></td>
  <td><%= form_tag(shopping_cart_item_path(id: shopping_cart_item.id), method: :patch) do%>
      <%= select_tag :quantity, options_for_select(1..shopping_cart_item.item.quantity, "#{shopping_cart_item.quantity}"), { onchange: 'this.form.submit()' }%><%end%></td>
  <td><%= number_to_currency(shopping_cart_item.subtotal)%></td>
  <td><%= button_to shopping_cart_item_path(id: shopping_cart_item.id), method: :delete, class: 'btn btn-to-link' do %>
    <i class="fa-solid fa-trash-can"></i>
    <%end%></td>
</tr>