<h1>All order history</h1>

<%if @orders.any?%>
<div class="row row-cols-auto px-2">	
	<% @orders.each do |order| %>
	<div class="col-md-2 p-2" > 
		<div class="card bg-light h-100 mb-3" style="width: 13rem;">
			<%= link_to order_path(order), class: 'no-underline' do%>
			name: <%= order.name %><br>
			<%end%>
			email ref: <%= order.email%><br>
			total paid: <%= number_to_currency(order.total, unit:"RM ")%><br>
		</div>
	</div>
	<%end%><br>	
</div>
<%end%>

<p><%= l Time.now, format: :default %></p>
