
<form action="<%= products_path%>" class="d-flex row align-items-end px-1 my-1">
  <div class="col-auto">
    <input class="form-control" type="text" placeholder="Search by category" name="category">
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-primary" type="Search">Search</button>
  </div>
</form>

<%if @products.any?%>
<div class="row row-cols-auto px-2">
  <% @products.each do |product|%>
  <div class="col-md-2 p-2" > 
    <div class="card bg-light h-100 mb-3" style="width: 13rem;">
    <%= link_to product_path(product), class: 'no-underline' do%>
        <%if product.photos.attached?%>
          <i class="fa-solid fa-star"></i>
            <%= product.name%><br>
            <%= image_tag product.photos.first, width: 150, height: 150 %>
        <%end%> 
    <%end%>      
        <div class="card-body">
          <p class="card-text"><%= number_to_currency(product.price, unit:"RM ") %></p>
        </div>
    </div>    
  </div>   
  <%end%> 
</div>
<%else%>
  <p>No Products Found.</p>  
<%end%>

<% if admin? %>
  <%= link_to 'Create new product', new_product_path(@products)%><br>
<%end%>
<!-- <%#= link_to 'Homepage', root_path%> -->