<h1>One Product Details Here</h1>
	<%= @product.name%><br>
	<%= @product.category%><br>
	<%= @product.description%><br>
	<p>RM <%= @product.price%></p><br>
	<p>Quantity: <%= @product.quantity%></p><br>