<h1><%= @product.name%></h1>

<%if @product.photos.attached? %>
		<% @product.photos.each do |photo|%>
			<%= link_to rails_blob_path(photo, disposition: "attachment") do %>	
			<%end%>
		<%= image_tag photo, width: 400, height: 400 %>		
		<%end%>
<%end%><br>

	
	<p>Category: <%= @product.category%></p>
	<p>Product Details: <%= @product.description%></p>
	<p><%= number_to_currency(@product.price, unit:"RM ") %></p>
	<p>Available Quantity: <%= @product.quantity%></p>
	<br>
	
	<div class="row questions bg-light p-5">
		<div class="col-md-1 icon">
		<i class="fa-brands fa-rocketchat questions-icon"></i>
		</div>
		<div class="col-md-11 text">
		Have a question about our products at E-Store? Feel free to contact our representatives via live chat or email.
		</div>
	</div>

	<div class="delivery my-4">
		<p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b>Delivery done in 3 days from date of purchase</b> </p>
		<p class="text-secondary">Order now to get this product delivery</p>
	</div>
	<div class="delivery-options my-4">
		<p class="font-weight-bold mb-0"><span><i class="fa-solid fa-filter"></i></span> <b>Delivery options</b> </p>
		<p class="text-secondary">View delivery options here</p>
	</div>
	<%= link_to shopping_cart_path do%>
	<i class="fa-solid fa-cart-shopping">Show Cart Page</i>
	<%end%>
	<br><br>


<% if admin? %>
	<%= link_to 'Edit', edit_product_path(@product)%><br>
	<%= link_to 'Delete', product_path(@product), 
		data: {turbo_method: :delete,
		turbo_confirm: "Are you sure?"}%><br>
<%end%>

<%= button_to 'Add to cart', shopping_cart_items_path(item_id: @product, class: @product.class), class: 'btn btn-dark btn-lg w-100' %>